$red: rgb(158, 27, 50);

.footer__links {
  background-color: white;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
}

.footer__links-list {
  display: flex;
  flex-direction: row;
  padding: 0px 70px;
  @media screen and (max-width:900px) {
    padding: 0px 20px;
  }
}

.footer__links-item {
  padding: 16px 20px;
  font-size: .9rem;
  letter-spacing: .165rem;
  font-weight: 700;
  i {
    font-size: .9rem;
    margin-left: 10px;
  }
  img {
    margin-right: 10px;
  }
  a {
    display: flex;
    align-items: center;
    color: #444;
    transition: color .4s;
  }
  a:hover {
    color: $red;
  }
  a:hover span {
    border-bottom: 1px solid $red;
  }
}

.footer__text {
  padding: 24px 90px;
  background-color: white;
  strong {
    font-weight: bold;
  }
  a {
    border-bottom: 1px solid black;
  }
  @media screen and (max-width:900px) {
    padding: 24px 40px;
  }
}

@media screen and (max-width:900px) {
  .footer__links-item:nth-child(6), .footer__links-item:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width:435px) {
  .footer__links-list .footer__nav-item {
    display: none;
  }
}
