html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Proxima Nova Rg';
}

a {
  text-decoration: none;
  box-sizing: content-box;
}

html {
  background-color: #D8D8D8;
}

.swiper-slide-image {
  text-align: center;
}

.swiper-slide-image img {
  max-width: 100%; // Даёт картинке возможность сужаться
}

.swiper .swiper-button-next::after, 
.swiper .swiper-button-prev::after {
  color: #FFF;
  font-size: 24px;
}

.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #FFF;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #FFF;
}

.main__swiper-box {
  position: absolute;
  background-color: #FFF;
  padding: 20px;
  top: 33%;
  left: 12%;
  text-align: left;
}

.main__swiper-box-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.main__swiper-box-text {
  font-size: 14px;
  color: rgb(68, 68, 68);
  margin-bottom: 46px;
}

.main__swiper-box-button {
  padding: 13px 19px 11px 19px;
  background-color: rgb(158, 27, 50);
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
}

.fa-arrow-right-long {
  margin-right: 15px;
}