.header {
  background-color: #FFF;
  height: 72px;
  width: 2000px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #E2E2E2;
}

.header-left {
  display: flex;
  align-items: center;
  height: 72px;
}

.header-logo {
  min-width: 173px;
  text-align: center;
}

.header-left img {
  max-width: 117px;
}

.header-left-nav {
  display: flex;
  height: 72px;
  li {
    height: 72px;
    display: flex;
    align-items: center;
  }
  li:hover {
    background-color: #F0F0F0;
    cursor: pointer;
  }
  a{
    color: black;
    font-weight: 600;
    letter-spacing: .15em;
    font-size: 8px;
    font-family: 'Jaguar Bold';
    padding: 0px 10px;
  }
}

.header-right ul {
  display: flex;
  li {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
  }
  li:hover {
    background-color: #F0F0F0;
    cursor: pointer;
  }
}

@media screen and (max-width: 1020px) {
  .header {
    height: 48px;
  }
  .header-left-nav {
    display: none;
  }
  .header-left img {
    max-width: 90px;
  }
  .header-right ul li {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 300px) {
  .header-left {
    width: 90px;
  }
  .header-logo {
    width: 90px;
    text-align: left;
    margin-left: 30px;
  }
  
  .header-left img {
    max-width: 86px;
  }
}