.header {
  background-color: #FFF;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  height: 72px;
}

.header-logo {
  min-width: 173px;
  text-align: center;
}

.header-left img {
  max-width: 117px;
}

.header-left-nav {
  display: flex;
  align-items: center;
  height: 72px;
  li {
    height: 100%;
  }
  a{
    color: black;
    font-weight: 600;
    letter-spacing: .15em;
    font-size: 8px;
    font-family: 'Jaguar Bold';
    display: block;
    height: 100%;
    padding: 0px 10px;
    padding-top: 28px;
  }
  a:hover {
    background-color: #F0F0F0;
  }
}

.header-right ul {
  display: flex;
  li {
    width: 72px;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    a {
      color: black;
    }
  }
}
