.main__find {
  background-color: black;
  padding-top: 74px;
  padding-bottom: 10px;
}

.main__find-header {
  font-size: 2.4rem;
  letter-spacing: .52rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.main__find-swiper-header {
  color: white;
}

.bottom-swiper .main__card-link span {
  color: white;
}

.bottom-swiper .swiper-button-next::after, 
.bottom-swiper .swiper-button-prev::after {
  color: white;
  font-size: 24px;
}

.bottom-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid black;
  opacity: 1;
  margin-right: 12px !important;
}

.bottom-swiper .swiper-pagination-bullet-active {
  background-color: black;
  border: 2px solid transparent;
}

.bottom-swiper .swiper-pagination {
  text-align: left;
  position: static;
  margin-top: 56px;
}

.swiper-button-disabled {
  visibility: hidden;
}

.bottom-swiper {
  padding: 56px 40px 56px 40px !important;
}

.swiper2-slide-image img {
  width: 580px;
  max-height: 330px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.swiper2-slide-image img:hover {
  filter: brightness(.8);
  transition: 0.5s;
}

@media screen and (max-width:740px) {
  .bottom-swiper .swiper-pagination {
    margin-top: 25px;
  }
}

@media screen and (max-width:350px) {
  .bottom-swiper .swiper-pagination-bullet {
    margin-right: 0px !important;
  }
  .bottom-swiper .swiper-pagination-bullet:not(:last-child) {
    margin-right: 8px !important;
  }
}

@media screen and (max-width:310px) {
  .bottom-swiper .swiper-pagination {
    margin-top: 12px;
  }
  .bottom-swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .bottom-swiper .swiper-pagination-bullet:not(:last-child) {
    margin-right: 5px !important;
  }
}

@media screen and (max-width:260px) {
  .bottom-swiper .swiper-pagination {
    margin-top: 8px;
  }
  .bottom-swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
  .bottom-swiper .swiper-pagination-bullet:not(:last-child) {
    margin-right: 3px !important;
  }
}