$red: rgb(158, 27, 50);

.main__buttons {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0px 70px;
  border-bottom: 1px solid #D8D8D8;
}

.main__button {
  padding: 57px 30px 51px 30px;
  width: 440px;
  max-width: 100%;
}

.main__button:hover {
  cursor: pointer;
  .main__button-header, .main__button-icon {
    color: $red;
    transition: 0.5s;
  }
  .main__button-header span {
    border-bottom: 1px solid $red;
  }
}

.main__button:not(:last-child) {
  border-right: 1px solid #D8D8D8;
}

.main__button-icon {
  font-size: 40px;
  margin-bottom: 24px;
}

.main__button-header {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 11px;
  .fa-angle-right {
    color: rgb(158, 27, 50);
    margin-right: 8px;
  }
}

.main__button-desc {
  color: #444;
  font-size: 1.3rem;
}

@media screen and (max-width:900px) {
  .main__buttons {
    padding: 0px 0px;
    flex-wrap: wrap;
  }
  .main__button {
    padding: 40px;
    width: calc(50vw - 90px);
  }
  .main__button:not(:last-child) {
    border-right: 0px solid transparent;
  }
  .main__button:first-child {
    border-right: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
  }
  .main__button:nth-child(2) {
    border-bottom: 1px solid #F0F0F0;
  }
  .main__button:nth-child(3) {
    border-right: 1px solid #F0F0F0;
  }
}

@media screen and (max-width:435px) {
  .main__button-desc {
    display: none;
  }
  .main__button-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
  }
  .main__button {
    width: calc(100vw - 90px);
    padding: 16px 30px;
  }
  .main__button a {
    display: flex;
    align-items: center;
  }
  .main__button-header {
    margin-bottom: 0px;
    margin-left: 24px;
  }
  .main__button:first-child {
    border-right: 0px solid #F0F0F0;
    border-bottom: 0px solid #F0F0F0;
  }
  .main__button:nth-child(2) {
    border-bottom: 0px solid #F0F0F0;
  }
  .main__button:nth-child(3) {
    border-right: 0px solid #F0F0F0;
  }
  .main__button:not(:last-child) {
    border-bottom: 1px solid #F0F0F0;
  }
}