.main__buttons {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0px 70px;
  border-bottom: 1px solid #D8D8D8;
}

.main__button {
  padding: 57px 30px 51px 30px;
  width: 440px;
  max-width: 100%;
}

.main__button:hover {
  cursor: pointer;
  .main__button-header, .main__button-icon {
    color: rgb(158, 27, 50);
    transition: 0.5s;
  }
}

.main__button:not(:last-child) {
  border-right: 1px solid #D8D8D8;
}

.main__button-icon {
  font-size: 40px;
  margin-bottom: 24px;
}

.main__button-header {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 11px;
  .fa-angle-right {
    color: rgb(158, 27, 50);
    margin-right: 8px;
  }
}

.main__button-desc {
  color: #444;
  font-size: 1.3rem;
}