$red: rgb(158, 27, 50);

.top-swiper-contrainer {
  margin-top: 72px;
  @media screen and (max-width:1020px) {
    margin-top: 48px;
  }
  background-color: white;
}

.top-swiper {
  height: calc(100vh - 72px); /* я гений */
  @media screen and (max-width:1020px) {
    height: calc(100vh - 48px);
  }
}

.swiper-slide-image {
  text-align: center;
}

.swiper-slide-image img {
  width: 2000px;
  max-width: 100%; // Даёт картинке возможность сужаться
  height: calc(100vh - 72px);
  object-fit: cover;
  object-position: center;
  @media screen and (max-width:1020px) {
    height: calc(100vh - 48px);
  }
}

.top-swiper .top-swiper-button-prev::after, 
.top-swiper .top-swiper-button-next::after {
  color: #FFF;
  font-size: 24px;
}

.top-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #FFF;
  box-shadow: 0 0 6px 3px rgba(74,144,226,0),0 1px 4px 0 rgba(0,0,0,0.5),inset 0 1px 4px 0 rgba(0,0,0,0.1);
  opacity: 1;
}

.top-swiper .swiper-pagination-bullet-active {
  background-color: #FFF;
  border: 2px solid transparent;
}

.main__swiper-box {
  position: absolute;
  background-color: #FFF;
  padding: 20px;
  max-width: 260px;
  top: 30vh;
  left: 6vw;
  text-align: left;
  // Анимация
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 1s; /* Задержка перед началом */
}

@keyframes show{
  0%{
  opacity:0;
  }
  100% {
  opacity:1;
  }
}

.main__swiper-box-header {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 18px;
  text-transform: uppercase;
  @media screen and (max-width:900px) {
    font-size: 1.9rem;
  }
}

.main__swiper-box-text {
  font-size: 1.4rem;
  color: rgb(68, 68, 68);
  margin-bottom:30px;
  @media screen and (max-width:900px) {
    font-size: 1.3rem;
  }
}

.main__swiper-box-button {
  padding: 13px 19px 11px 19px;
  display: block;
}

.fa-arrow-right-long {
  margin-right: 15px;
}

.swiper-button {
  position: absolute;
  left: calc(50% - 25px);
  bottom: 0px;
  z-index: 1;
  button {
    width: 50px;
    height: 52px;
    transition-duration: 0.4s;
    border: 0px;
  }
    i {
      font-size: 24px;
    }
}

#top-swiper-pagination {
  text-align: left;
  width: 100%;
  left: 6vw;
  bottom: 2vw;
}

@media screen and (max-width:740px) {
  .main__swiper-box {
    position: static;
  } 
  .swiper-slide-image img {
    height: 250px;
  }
  .main__swiper-box {
    max-width: 100%;
    text-align: center;
  }
  .top-swiper .top-swiper-button-prev::after, 
  .top-swiper .top-swiper-button-next::after {
    display: none;
  }
  .main__swiper-box-button {
    display: inline-block;
  }
  .swiper-button {
    display: none;
  }
  #top-swiper-pagination {
    text-align: center;
    left: 0;
    bottom: 0;
    top: 225px;
  }
  .top-swiper {
    height: 100%;
  }
}